@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  src: url("../fonts/inter-400.woff2") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  src: url("../fonts/inter-700.woff2") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  src: url("../fonts/inter-900.woff2") format("woff");
  font-display: swap;
}

body{
background-color: #FEAFC3;
}
.small-icon-ice-cream-advantages{
  border-radius: 45%;
}
.ice-cream-variety-basket{
  width: 32px;
  height: 32px;
}
